body {
    padding: 1rem;
    text-align: center;
    background-color: #743c3f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header {
    padding: 0.5rem;
    width: 100%;
    color: #343139;
    background-color: #c4b7a7;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
  }

  header h2 {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: underline;
  }
  header p {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }

  #coffee-menu {
    display: flex;
  overflow-x: auto;
  margin: 1rem 0;
  max-width: calc(1000vw - 1rem);
  color: #343139;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
 }

#coffee-menu img {
    flex: 0 1 auto;
    height: 50px;
    margin-right: 0.5rem;
    cursor: pointer;
    border-radius: 0.25rem;
  }

  #coffee-menu img:last-child {
    margin-right: 0;
  }

  #coffee-description {
    position: relative;
    color: #c4b7a7;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .coffee-img {
    height: 300px;
    width: 300px;
    margin-right: 0.5rem;
  }

  #coffee-ingredients {
    position: relative;
    color: #c4b7a7;
    font-size: 1.5rem;
    font-weight: bold;
  }
  #coffee-ingredients h2 {
    position: relative;
  }


  .button {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 0.25rem;
    background-color: #c4b747;
  }

  .block {
    width: 10%;
    height: 5%;
    border: none;
    padding: 15px 28px;
    background-color: #c4b7a7;
    color: #343139;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
  }

  #order-list div {
    background-color: #c4b7a7;
    border-radius: 0.25rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }

  #submit-msg div {
    background-color: #c4b7a7;
    border-radius: 0.25rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }
